body {
max-width:750px;
font-family:Inconsolata, monospace;
font-weight:100;
font-size:14px;
padding-left:10px;
padding-right:10px;
background-color:#f7f7f7;
color:#4d4d4d;
margin:auto auto 50px;
}

p.description {
padding-top:10px;
padding-bottom:10px;
font-size: 24px;
font-weight: 100;
color:#4d4d4d!important;p
text-align: center;
}

h1 {
font-weight:600;
font-size:30px;
font-family:Inconsolata, monospace;
text-align: center;
}

h2 {
font-size:20px;
font-weight:800;
margin-top:20px;
font-family:Inconsolata, monospace;
padding-bottom:3px;
}

h3 {
font-size:18px;
font-weight:500;
margin-bottom:5px;
font-family:Inconsolata, monospace;
margin-top:0;
color:#4d4d4d!important;
}

p {
font-size:24px;
line-height:19px;
font-weight:100;
}

a:link,a:visited {
color:#4d4d4d;
text-decoration:none;
background-color:rgba(255,242,51,.29804);
}

a:hover {
text-decoration:underline;
}

li a {
background-color:#f7f7f7!important;
}

.pub {
text-transform:uppercase;
font-size:14px;
margin-bottom:5px;
color:darkgrey;
padding-top:2px;
}

nav ul li a {
text-align:bottom;
font-weight:100;
font-size:14px;
text-decoration:none;
margin-right:1em;
color:#4d4d4d!important;
font-family:Inconsolata, monospace;
background-color:#f7f7f7!important;
}

.parent {
list-style:none;
-webkit-flex-flow:row wrap;
justify-content:space-around;
margin:0 0 30px;
}

.col {
margin-top:10px;
text-align:left;
}

/*If [device width] is less than or equal to 750px,*/
@media (min-width:750px) {
.detail {
  margin-top:10px;
  text-align:left;
  margin-bottom:20px;
  width:50%;

}
.col {
width:50%;
margin-top:10px;
text-align:left;
}
}

.detail {
margin-top:10px;
text-align:left;
margin-bottom:20px;
}

img.book {
-moz-box-shadow:3px 3px 5px 6px #ccc;
-webkit-box-shadow:3px 3px 5px 6px #ccc;
box-shadow:3px 2px 2px 1px #ccc;
}

footer p {
font-family:Inconsolata, monospace;
font-size:12px;
color:#000;
margin:20px 0 0;
}

@media max-width 756px{
div.col {
flex-direction:column;
width:100%;
margin-top:5px;
}

div.detail {
flex-direction:column;
width:100%;
margin-top:20px;
}
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 80px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
